{% extends "base.html" %} {% block title %}Home{% endblock %}
{% block content%}
<h1 align="center" class="homeTXT" style="padding-top: 10px; font-weight: bolder; color: grey;">HOUSIFY</h1>
<h2 align="center" class="homeTXT" style="color: grey;">Your Property Solution Platform</h2>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid justify-content-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
    </nav>
    <div class="container my-5, container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Property Item 1 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 1">
        <div class="card-body">
          <h5 class="card-title">Rs 1,60,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 1500 sqft</p>
          <p class="card-text">Pritampura</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 2 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 2">
        <div class="card-body">
          <h5 class="card-title">Rs 1,40,00,000</h5>
          <p class="card-text">4 Bed • 3 Bath • 2000 sqft</p>
          <p class="card-text">Mohan Nagar</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 3 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 3">
        <div class="card-body">
          <h5 class="card-title">Rs 1,00,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 980 sqft</p>
          <p class="card-text">Anand Vihar</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 4 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 4">
        <div class="card-body">
          <h5 class="card-title">Rs 1,15,00,000</h5>
          <p class="card-text">3 Bed • 3 Bath • 1500 sqft</p>
          <p class="card-text">Kalkaji</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 5 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 5">
        <div class="card-body">
          <h5 class="card-title">Rs 4,00,00,000</h5>
          <p class="card-text">5 Bed • 4 Bath • 2500 sqft</p>
          <p class="card-text">Greater Kailash 1</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 6 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 6">
        <div class="card-body">
          <h5 class="card-title">Rs 95,00,000</h5>
          <p class="card-text">2 Bed • 2 Bath • 2000 sqft</p>
          <p class="card-text">Sector 51</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 7 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 7">
        <div class="card-body">
          <h5 class="card-title">Rs 1,70,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 900 sqft</p>
          <p class="card-text">Sector 62</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 8 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 8">
        <div class="card-body">
          <h5 class="card-title">Rs 1,00,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 2500 sqft</p>
          <p class="card-text">Cyber City</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 9 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 9">
        <div class="card-body">
          <h5 class="card-title">Rs 3,55,00,000</h5>
          <p class="card-text">5 Bed • 3 Bath • 2000 sqft</p>
          <p class="card-text">Palam Vihar</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 10 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 10">
        <div class="card-body">
          <h5 class="card-title">Rs 1,35,00,000</h5>
          <p class="card-text">2 Bed • 2 Bath • 1500 sqft</p>
          <p class="card-text">Sector 54</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 11 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 11">
        <div class="card-body">
          <h5 class="card-title">Rs 2,00,00,000</h5>
          <p class="card-text">4 Bed • 3 Bath • 2000 sqft</p>
          <p class="card-text">DLF Phase 4</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 12 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 12">
        <div class="card-body">
          <h5 class="card-title">Rs 90,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 850 sqft</p>
          <p class="card-text">Rajpur Road</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 13 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 13">
        <div class="card-body">
          <h5 class="card-title">Rs 4,50,00,000</h5>
          <p class="card-text">4 Bed • 3 Bath • 2500 sqft</p>
          <p class="card-text">Golf Course</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 14 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 14">
        <div class="card-body">
          <h5 class="card-title">Rs 1,70,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 1000 sqft</p>
          <p class="card-text">Windlass</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 15 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 15">
        <div class="card-body">
          <h5 class="card-title">Rs 40,00,000</h5>
          <p class="card-text">1 Bed • 1 Bath • 4000 sqft</p>
          <p class="card-text">Sector 2, Ghaziabad</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 16 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 16">
        <div class="card-body">
          <h5 class="card-title">Rs 4,00,00,000</h5>
          <p class="card-text">5 Bed • 5 Bath • 3000 sqft</p>
          <p class="card-text">Sector 4, Ghaziabad</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 17 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 17">
        <div class="card-body">
          <h5 class="card-title">Rs 75,00,000</h5>
          <p class="card-text">3 Bed • 2 Bath • 800 sqft</p>
          <p class="card-text">Shastri Nagar</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 18 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 18">
        <div class="card-body">
          <h5 class="card-title">Rs 2,00,00,000</h5>
          <p class="card-text">4 Bed • 4 Bath • 2500 sqft</p>
          <p class="card-text">Olive County</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 19 -->
    <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="house2.jpg" class="card-img-top" alt="Property 19">
        <div class="card-body">
          <h5 class="card-title">Rs 80,00,000</h5>
          <p class="card-text">2 Bed • 2 Bath • 1000 sqft</p>
          <p class="card-text">Rajendra Nagar</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Property Item 20 -->
     <div class="col" style="padding-top: 20px;">
      <div class="card h-100">
        <img src="/website/data/wallpaper.jpg" class="card-img-top" alt="Property 20">
        <div class="card-body">
          <h5 class="card-title">Rs 1,50,00,000</h5>
          <p class="card-text">4 Bed • 3 Bath • 2000 sqft</p>
          <p class="card-text">Vasundhara, Ghaziabad</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    <!-- Add more property items as needed -->
  </div>
</div>

</body>
{% endblock %}
